* {
  font-family: Georgia;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px;
  text-decoration: none;
}

#nav-pic {
  width: "30px";
  height: "25px";
}

table {
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

tr {
  height: 15px;
}

.username-display {
  font-weight: bold;
  font-size: 15px;
}
