* {
  font-family: Georgia;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

form {
  justify-content: center;
  text-align: center;
}

table {
  justify-content: center;
  text-align: center;
}

.inner {
  position: absolute;
}


